.fondcolor{
  // background-image: linear-gradient(to right bottom, #5e6366, #4d5257, #3f4149, #333039, #282029);
  background-image: linear-gradient(to left top, #2f2b34, #413544, #563f52, #6e495d, #865366, #9c5c6b, #b1666d, #c4726e, #d7816d, #e8916a, #f4a467, #fcb965);
  height: 100vh;
  width: 100vw;
  box-shadow:0px 0px 8px 0px #191a1a inset;
  position: fixed;
  z-index: -3;
}

.blueround{
  width: 90px;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #65465a, #754c61, #865366, #965a6a, #a6616c);
  color: white;
  position: relative;
  z-index: 99;
  cursor: pointer;
}
.redround{
  width: 90px;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #fcb965, #ffc865, #ffd866, #fde86a, #f9f871);
  color: white;
  cursor: pointer;
}
.greenround{
  width: 90px;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #78aeb2, #7fb7b7, #86c0bc, #8ec9c1, #97d2c5);
  color: white;
  cursor: pointer;
}

.colorselect{
  display:flex;
  justify-content: center;
  p{
    margin: 0 5px;
  }
}
.activetheme{
    color: black;

    box-shadow:0px 0px 8px 0px #191a1a inset;
  }
.notegroup_color{
  width: 60%;
  display:block;
  margin: 0 auto;
  padding-bottom: 20px;
}
#notegroup_color_thème1{
  width: 20px;
  label{
    display:none;
  }
}
#notegroup_color_thème2{
  width: 20px;
}
#notegroup_color_thème3{
  width: 20px;
}
.colorthemebutton{
  display: inline-block;
  margin-bottom: 20px;
}
