.navbar {
    // background-image: url("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1588607332/Note%20iT/ecran2_yqpicl.jpg");
    background-image: linear-gradient(to right bottom, #65465a, #4d3542, #35252c, #1e1619, #000000);
    box-shadow:0px 0px 8px 0px #191a1a inset;
    position: fixed;
    z-index: 1;
    width: 100vw;
  h1{
    font-size: 40px;
    color: white;
    font-family: 'Damion', cursive;
  }
}
.navbarbis{
  height: 55px;
  width: 100%;
}
.calendar-nav{
  color: white;
  font-size: 25px;
}
.logo-navbar{
  width: 50px;
  height:50px;
}
.invitation-block{
  width: 300px;
  padding-bottom: 10px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display:none;
  position: absolute;
  top: 56px;
  right:5px;
  z-index: 1;
  h2{
    color: black;
    text-align: center;
    font-size: 14px;
    }
}
.invitation-block-update{
  display: block;
  margin: 10px auto 0 auto;
  text-align: center;
}
.status-logo{
  display:flex;
  justify-content: space-around;

}
.avatar-group{
  display:flex;
  justify-content: space-between;
}
.title{
  margin-left: 150px;
}
.decline{
  font-size: 25px;
  color: red;
}
.accept{
  font-size: 25px;
  color: green;
  position: fixed;
  z-index: 100;
}
.notif{
  color: red;
  position: relative;
  right: -13px;
  top: -13px;
}
