.index{
  position: relative;
}
.note-card-blank{
  margin: 0 10px 10px 10px;
  position: relative;
  z-index:0;
}
.note-card-blank-fond{
  position: relative;
  z-index: 0;
}
.add-notegroup{

  padding: 25px 0 25px 0 ;
  text-align: center;
  display: flex;
  justify-content: center;
  h4{
    font-size: 35px;
    font-family: 'Damion', cursive;
  }
  i{
    font-size:35px;
    color: #362f3a;

    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.12);
    &:hover{
      color: white;
      background-color: #00103c ;
      border-radius: 5px;
      padding: 1px 2px 0 2px;
    }
  }
}

.notes-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px;
    i{
      color: white;
    }
    .del-group{
      font-size: 15px;
      color:white;
    }
    h2{
      color: white;
      padding: 5px 0;
      font-family: 'Damion', cursive;
      margin-bottom: 0;
    }

}
.note-edit{
      display: flex;
      justify-content: space-around;
      align-items: center;
      i{
        color: white;
        margin-right: 5px;
      }
      .edit-note{
        margin-left: 10px;
      }

    .note-member-add{
      display: flex;
      justify-content: space-around;
      align-items: center;
      i{
        color: white;
        margin-right: 5px;
      }
      .add-friend{
        font-size: 15px;
        color:white;
      }
      .add-note{
        font-size: 21px;
        color:white;
        margin-left: 5px;
      }
    }
  }

.notes-title-blue{
  background-image: linear-gradient(to right bottom, #65465a, #754c61, #865366, #965a6a, #a6616c);
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius:8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}
.notes-title-red{
  background-image: linear-gradient(to right bottom, #fcb965, #ffc865, #ffd866, #fde86a, #f9f871);
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius:8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}
.notes-title-green{
  background-image: linear-gradient(to bottom, #78aeb2, #7fb7b7, #86c0bc, #8ec9c1, #97d2c5);
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius:8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}
.my-note{
  padding-bottom: 8px;
}
.bordernote{
  padding-bottom: 15px;
    display:block;
    margin: 0 auto;
    border-bottom: 1px solid rgb(150,150,150);
    width: 95%;

  }
  .my-note-space{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 10px;
    .note-title{
      color: black;
      padding: 5px 0;
      font-family: 'Damion', cursive;
    }
  }
.my-note-space-2{
  display:flex;
  justify-content: space-between;
  margin: 2px 10px 0 10px;
}
.my-note-space-3{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 10px 5px 10px;
  .date-done{
    font-size: 12px;
    display:flex;
    justify-content: space-around;
    align-items: center;
   .note-done-false{
      color: red;
      margin-right: 10px;
    }
    .note-done-true{
      color: green;
      margin-right: 10px;
    }
    .note-date-green{
      color: green;
      margin: 0;
    }
    .note-date-red{
      color: red;
      margin: 0;
    }
  }
}
.friend{
  background-color: white;
  opacity: 0.95;
  width: 50vw;
  height: 400px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display:none;
  text-align: center;
  .friend-content{
    font-size: 25px;
  }
}
.dropdown-note{
  width: 400px;
}
.note-group-item{
  display:none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.12);
  background-color: rgba(240,240,240,0.8);
  position: relative;
  top: -10px;
  z-index:-2;
  padding-top: 12px;

}
.back-home{
  color: #00082c;
  display:block;
  text-align: center;
  margin-top: 170px;
  font-size: 50px;
}
.back-home-edit{
  color: #00082c;
  display:block;
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
}
.back-home-note{
  color: #00082c;
  display:block;
  text-align: center;
  margin-top: 120px;
  font-size: 50px;
}
.back-home-member{
  color: #00082c;
  display:block;
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
}
.noteless{
  padding: 10px 0;
  text-align:center;

}
.poubellenote{
  color: white;
}
#testdate{
  font-size: 8px;
  margin: 0;
  margin-left: 8px;
}
.notebuttonadd{
  background-image: linear-gradient(to right bottom, #65465a, #4d3542, #35252c, #1e1619, #000000);
  box-shadow:0px 0px 8px 0px #191a1a inset;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 5px 10px;
}
